*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
img,
video,
embed {
  max-width: 100%;
}

body {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  appearance: none;
  -webkit-appearance: none;
  user-select: none;
  -webkit-user-select: none;
}
